<form (submit)="login()" #loginForm="ngForm" autocomplete="off">
  <fieldset >
    <div class="title">用户登录</div>
    <input type="text" class="input" name="loginName" placeholder="用户名"
    [(ngModel)]="formData.loginName" required>
    <input type="password" class="input" name="password" placeholder="密码"
    [(ngModel)]="formData.password" required>
    <div class="clearfix">
      <div class="pull-left">
        <label>
          <input type="checkbox"> 记住密码
        </label>
      </div>
      <div class="pull-right">
        忘记密码?
      </div>
    </div>
    <div class="center-layout">
      <button type="submit" [disabled]="loginForm.form.invalid">登录</button>
    </div>
    <div class="center-layout">
      还没有账号?&nbsp;&nbsp;<a href="" class="sign-up">立即注册</a>
    </div>
  </fieldset>
</form>