<div class="modal-header">
  {{siteId ? '编辑站点' : '创建站点'}}
</div>
<div class="modal-body">
  <form (submit)="submit()" #ngForm="ngForm">
    <div class="form-group">
      <div class="label">名称</div>
      <input type="text" class="form-control" name="name" [(ngModel)]="formData.name" required>
    </div>
    <div class="form-group">
      <div class="label">描述</div>
      <textarea rows="8" type="text" class="form-control" name="des" [(ngModel)]="formData.des"></textarea>
    </div>
    <div class="form-group">
      <div class="label">Logo</div>
      <div class="form-control upload-logo">
        <img [src]="formData.logo" *ngIf="formData.logo" class="logo-preview">
        <div class="btn btn-primary" appUpload (complete)="onUpload($event)">选择文件</div>
      </div>

    </div>
  </form>
</div>

<div class="modal-footer right-layout">
  <button type="button" class="btn btn-primary " [disabled]="ngForm.form.invalid" (click)="submit()">{{siteId ? '保存' : '新增'}}</button>
  <div class="btn " (click)="close()">取消</div>
</div>