<div class="btn btn-primary add-menu-btn" *ngIf="showBtn" (click)="showAddMenu(rootMenu)">
  添加
</div>
<!-- 节点输入框 -->
<div class="menu " *ngIf="rootMenu.showAddInput">
  <div class="menu-text menu-text-input">
    <input type="text" class="menu-name" [(ngModel)]="rootMenu.addInput">
    <div class="menu-icon">
      <i class="fa fa-check" (click)="confirmAddInput(rootMenu)"></i>
      <i class="fa fa-times" (click)="cancelAddInput(rootMenu)"></i>
    </div>
  </div>
</div>
<!-- 节点输入框 -->

<!-- 一级 -->
<div class="menu " *ngFor="let menu of menuData;let i = index;" [class.expend]="menu.expend">
  <div class="menu-text" [class.show-btn]="showBtn" [class.menu-text-input]="menu.showEdit" [class.active]="menu.id == selectMenuId">
    <div *ngIf="!menu.showEdit">
      <div class="menu-name" (click)="menuClick(menu, i)">
        {{menu.name}}
      </div>
      <div class="menu-icon">
        <i class="edit fa fa-edit" *ngIf="showBtn" title="编辑" (click)="showEditInput(menu)"></i>
        <i class="add fa fa-plus" *ngIf="showBtn" title="添加" (click)="showAddMenu(menu)"></i>
        <i class="del fa fa-times" *ngIf="showBtn" title="删除" (click)="menuDel(menu, i)"></i>
        <i class="arrow fa " [ngClass]="{'fa-angle-down': !menu.expend,'fa-angle-up': menu.expend}" *ngIf="menu.menuList?.length"></i>
        <i *ngIf="!menu.menuList?.length">&nbsp;</i>
      </div>
    </div>
    <div *ngIf="menu.showEdit">
      <input class="menu-name" [(ngModel)]="menu.name">
      <div class="menu-icon">
        <i class="fa fa-check" (click)="confirmEditInput(menu)"></i>
        <i class="fa fa-times" (click)="cancelEditInput(menu)"></i>
      </div>
    </div>

  </div>

  <div class="menu-list">
    <!-- 节点输入框 -->
    <div class="menu " *ngIf="menu.showAddInput">
      <div class="menu-text menu-text-input">
        <input type="text" class="menu-name" [(ngModel)]="menu.addInput">
        <div class="menu-icon">
          <i class="fa fa-check" (click)="confirmAddInput(menu)"></i>
          <i class="fa fa-times" (click)="cancelAddInput(menu)"></i>
        </div>
      </div>
    </div>
    <!-- 节点输入框 -->

    <!-- 二级 -->
    <div class="menu" *ngFor="let menuItem of menu.menuList;let i = index;" [class.expend]="menuItem.expend">
      <div class="menu-text" [class.show-btn]="showBtn" [class.menu-text-input]="menuItem.showEdit" [class.active]="menuItem.id == selectMenuId">
        <div *ngIf="!menuItem.showEdit">
          <div class="menu-name" (click)="menuClick(menuItem, i)">
            {{menuItem.name}}
          </div>

          <div class="menu-icon">
            <i class="edit fa fa-edit" *ngIf="showBtn" title="编辑" (click)="showEditInput(menuItem)"></i>
            <i class="add fa fa-plus" *ngIf="showBtn" title="添加" (click)="showAddMenu(menuItem)"></i>
            <i class="del fa fa-times" *ngIf="showBtn" title="删除" (click)="menuDel(menuItem, i)"></i>
            <i class=" fa " [ngClass]="{'fa-angle-down': !menuItem.expend,'fa-angle-up': menuItem.expend}" *ngIf="menuItem.menuList?.length"></i>
            <i *ngIf="!menuItem.menuList?.length">&nbsp;</i>
          </div>
        </div>
        <div *ngIf="menuItem.showEdit">
          <input class="menu-name" [(ngModel)]="menuItem.name">
          <div class="menu-icon">
            <i class="fa fa-check" (click)="confirmEditInput(menuItem)"></i>
            <i class="fa fa-times" (click)="cancelEditInput(menuItem)"></i>
          </div>
        </div>
      </div>

      <div class="menu-list">
        <!-- 节点输入框 -->
        <div class="menu " *ngIf="menuItem.showAddInput">
          <div class="menu-text menu-text-input">
            <input type="text" class="menu-name" [(ngModel)]="menuItem.addInput">
            <div class="menu-icon">
              <i class="fa fa-check" (click)="confirmAddInput(menuItem)"></i>
              <i class="fa fa-times" (click)="cancelAddInput(menuItem)"></i>
            </div>
          </div>
        </div>
        <!-- 节点输入框 -->

        <div class="menu" *ngFor="let m of menuItem.menuList;let i = index;">
          <!-- 三级 -->
          <div class="menu-text" [class.menu-text-input]="m.showEdit" [class.show-btn]="showBtn" [class.active]="m.id == selectMenuId">
            <div *ngIf="!m.showEdit">
              <div class="menu-name" (click)="menuClick(m, i)">
                {{m.name}}
              </div>

              <div class="menu-icon">
                <i class="edit fa fa-edit" *ngIf="showBtn" title="编辑" (click)="showEditInput(m)"></i>
                <i class="del fa fa-times" *ngIf="showBtn" title="删除" (click)="menuDel(menuItem, i)"></i>
              </div>
            </div>
            <div *ngIf="m.showEdit">
              <input class="menu-name" [(ngModel)]="m.name">
              <div class="menu-icon">
                <i class="fa fa-check" (click)="confirmEditInput(menuItem)"></i>
                <i class="fa fa-times" (click)="cancelEditInput(menuItem)"></i>
              </div>
            </div>
          </div>
          <!-- 三级 -->
        </div>
      </div>
    </div>
    <!-- 二级 -->
  </div>
</div>