<div class="modal-header">
  新增站点
</div>
<div class="modal-body">
  <form (submit)="submit()" #ngForm="ngForm">
    <div class="form-group">
      <div class="label">名称</div>
      <input type="text" class="form-control" name="name" [(ngModel)]="formData.name" required>
    </div>
    <div class="form-group">
      <div class="label">描述</div>
      <textarea type="text" class="form-control" name="des" [(ngModel)]="formData.des"></textarea>
    </div>
    <div class="form-group">
      <div class="label">Logo</div>
      <input type="file" ng2FileSelect [uploader]="logoUploader" (change)="onLogoFileChange($event)" class="form-control">
    </div>
  </form>
</div>

<div class="modal-footer right-layout">
  <button type="button" class="btn btn-primary " [disabled]="ngForm.form.invalid" (click)="submit()">新增</button>
  <div class="btn " (click)="close()">取消</div>
</div>