
.form-group {
  $label-width: 15%;

  vertical-align: middle;

  .label {
      display: inline-block;
      width: $label-width;
  }

  .form-control {
      display: inline-block;
      width: calc((100% - #{$label-width}) - 1em);
  }
}