<div class="main justify-layout">
  <div class="side-left">
    <div class="item " *ngFor="let site of siteList" [class.active]="selectSite?.id == site.id"
      (click)="switchSite(site)">
      <span>{{site.name}}</span>
      <i class="fa fa-handshake-o cooperation" *ngIf="site.createBy !== userInfo.id"></i>
    </div>
    <div class="item text-center danger" *ngIf="siteList?.length <= 0" (click)="openSiteAddModal()">
      暂无站点 点击添加
    </div>
  </div>

  <div class="side-right" *ngIf="selectSite">
    <!-- 头部 -->
    <div class="action-btn-bar justify-layout">
      <div class="left">
        <button class="btn btn-primary btn-add" *ngIf="selectSite.own" (click)="addManual()">创建文档</button>
        <span *ngIf="!selectSite.own">站点维护人员</span>
      </div>

      <span class="right">
        <i class="fa fa-th" [class.active]="this.viewType == 'list'" (click)="this.viewType = 'list'"
          role="menu"></i>&nbsp;
        <i class="fa fa-list" [class.active]="this.viewType == 'table'" (click)="this.viewType = 'table'"
          role="menu"></i>
      </span>
    </div>
    <!-- 列表试图   -->
    <div class="list justify-layout" *ngIf="viewType === 'list'">
      <ng-container *ngFor="let item of manList;let index = index;">
        <div class="list-item">
          <div class="list-item-preview">
            <div class="set">
              <i class="fa fa-cog fa-spin"></i>
              <ul>
                <li (click)="openArticleSetModal(item)">文章目录</li>
                <li (click)="openManEditModal(item)">设置</li>
                <li><a [routerLink]="['/view/s',item.siteId,item.id]" target="_blank"
                    [queryParams]="{preview: true}">预览</a></li>
                <li (click)="delMan(item,index)" *ngIf="selectSite.own">删除</li>
              </ul>
            </div>
            <div class="pic">
              <img [src]="item.cover">
            </div>
            <div class="recent-edit">
              <div class="text">
                最近编辑
              </div>

              <ul>
                <li>最近编辑1</li>
                <li>最近编辑1</li>
                <li>最近编辑1</li>
                <li>最近编辑1</li>
              </ul>
            </div>
          </div>

          <a class="title link" (click)="goMan(item)">{{item.name}}</a>
          <div class="info">
            <a href="">
              浏览 {{item.viewCount}}
            </a> /
            <a href="">
              评论 {{item.commentCount}}
            </a> /
            <a href="">
              赞 {{item.praiseCount}}
            </a>

          </div>
        </div>&nbsp;
      </ng-container>

      <!-- <div class="list-item add" *ngIf="selectSiteId" (click)="addManual()">
        <i class="fa fa-plus-circle fa-2x"></i>
        <div class="des">创建文档</div>
      </div>&nbsp; -->

      <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
        <div class="list-item-empty"></div>&nbsp;
      </ng-container>
    </div>
    <!-- 表格试图 -->
    <table class="table table-hover" *ngIf="viewType === 'table'">
      <thead>
        <tr>
          <th>名称</th>
          <th>描述</th>
          <th>浏览量</th>
          <th>评论量</th>
          <th>点赞量</th>
          <th>是否上架</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of manList;let index = index">
          <td><a class="link title" (click)="goMan(item)">{{item.name}}</a></td>
          <td>{{item.des| slice:0:10}}</td>
          <td>{{item.viewCount}}</td>
          <td>{{item.commentCount}}</td>
          <td>{{item.praiseCount}}</td>
          <td>{{item.state ? '是' : '否'}}</td>
          <td>
            <div class="btn btn-primary btn-outline" (click)="openArticleSetModal(item)">文章目录</div>
            <a class="btn btn-primary btn-outline" [routerLink]="['/view/s',item.siteId,item.id]" target="_blank"
              [queryParams]="{preview: true}">预览</a>
            <div class="btn btn-primary btn-outline" (click)="openManEditModal(item)">设置</div>
            <div class="btn btn-danger btn-outline" (click)="delMan(item,index)" *ngIf="selectSite.own">删除</div>
          </td>
        </tr>
        <tr *ngIf="manList?.length === 0">
          <td colspan="7" class="text-center danger">暂无数据</td>
        </tr>
      </tbody>
    </table>
    <!-- 分页 -->
    <div class="page-bar">
      <app-pagination [total]="dataTotal" [pageSize]="dataPageSize" [current]="dataCurrentPage"
        (pageChange)="goPage($event)"></app-pagination>
    </div>
  </div>

</div>
