@import 'var';
@import 'mixin';

$pic-height: 200px;
$layout-left: 300px;
$list-item-width: 210px;
$min-height: 700px;
$side-item-height: 50px;

.main{
    margin-top:  20px ;
    min-height: $min-height;
}


.side-left{
    width: $layout-left;
    background-color: #fff;
    min-height: $min-height;

    .item{
        @include line-one;
        position: relative;
        padding: 0 $box-margin*2;
        font-size: 1.1em;
        line-height: $side-item-height;
        cursor: pointer;

        &:hover{
            background-color: lighten($gray,5);
        }

        &::after{
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 50%;
            content: '';
            border: transparent 2px solid;
            transition: all 0.2s;
        }

        &.active::after{
            top: 0;
            bottom: 0;
            border-color: $active-color;
        }

        .cooperation{
            position: absolute;
            right: 10px;
            line-height: $side-item-height;
            color: #9E9E9E;
        }
    }
}

.side-right{
    width: calc(100% - #{$layout-left} - #{$box-margin});

    .right i.active{
        color: $active-color;
    }

    .action-btn-bar{
        height: $side-item-height;
        background-color: #fff;
        line-height: $side-item-height;
        padding: 0 $box-margin;
        margin-bottom: $box-margin ;

        i{
            cursor: pointer;
        }
    }

    .table{
        background-color: #fff;
    }

    .page-bar{
        margin: 20px auto;
        text-align: center;
    }
}

.list-item-empty,.list-item{
    width: $list-item-width;
}

.list-item {
    background-color: #fff;
    transition: all 0.5s;
    margin-bottom: $box-margin;

    &:hover {
        box-shadow: 0px 2px 10px 2px #aaa;
    }

    &:hover .list-item-preview {
        .set {
            display: block;
        }

        .recent-edit{
            top: calc(100% - 30px);
        }
    }

    .title,.info {
        @include line-one;
        margin: 0 10px;
        line-height: 35px;
    }

}

.list-item-preview{
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;

    .set {
        display: none;
        position: absolute;
        top: 0;
        right: 0;

        > i {
            padding: 10px;
            transition: all 0.3s;
        }

        &:hover ul {
            display: block;
        }

        &:hover > i {
            color: lighten($active-color, 10);
        }

        ul {
            display: none;
            position: absolute;
            top: calc(10px + 1.2em);
            right: 10px;
            width: 100px;
            background-color:  lighten($active-color, 10);
            text-align: center;
            color: #fff;


            li {
                padding: 8px 15px;
                cursor: pointer;

                &:hover{
                    background-color: lighten($active-color, 20);
                }
            }

            a{
                display: inline-block;
                width: 100%;
                height: 100;
                color: #fff;
            }
        }
    }

    .pic {
        display: table-cell;
        height: $pic-height;
        width: $list-item-width;
        vertical-align: middle;
        font-size: 0;

        img{
            width: 100%;
            max-height: 100%;
        }
    }

    .recent-edit {
        position: absolute;
        top: 100%;
        width: 100%;
        transition: all 0.5s;
        height: 100%;
        background-color: $active-color;
        color: #fff;
        line-height: 2;

        &:hover {
            transition-delay: 0.2s;
            transition-duration: 0.8s;
            top: 0 !important;
        }

        .text {
            text-align: center;
        }

        li {
            padding: 0 10px;
            cursor: pointer;

            &:hover {
                background-color: lighten($active-color, 10);
            }
        }
    }
}

.list-item.add{
    $height: $pic-height + 80px;

    height: $height;
    line-height: $height;
    text-align: center;
    color: $active-color;
    color: #aaa;
    vertical-align: middle;
    cursor: pointer;

    .des{
        margin-top: -$height + 20px;
    }

    &:hover {
        color: $active-color;
    }
}