.btn{
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    border-radius: 3px;
    outline-width: 0;
    transition: all 0.3s cubic-bezier(.645,.045,.355,1);
    line-height: 1.2;
}

.btn.btn-link{
    border-width: 0;
    background-color: transparent;
    
    &:hover{
        background-color: transparent;
    }
}

.btn:hover {
    border-color: $active-color ;
    color: $active-color;
}

.btn.btn-primary {
    background-color: $active-color;
    color: #fff;
    border-color: $active-color;
}

.btn.btn-primary:hover {
    $hover-color: lighten($active-color,20);
    background-color: $hover-color;
    border-color: $hover-color;
}

.btn.btn-danger {
    background-color: $danger;
    color: #fff;
    border-color: $danger;
}

.btn.btn-danger:hover {
    $hover-color: lighten($danger,20);
    background-color: $hover-color;
    border-color: $hover-color;
}

.btn.btn-warn {
    background-color: $warn;
    color: #fff;
    border-color: $warn;
}

.btn.btn-warn:hover {
    $hover-color: lighten($warn,20);
    background-color: $hover-color;
    border-color: $hover-color;
}