.form-group {
    margin-bottom: 10px;

    .label{
        vertical-align: top;
        line-height: 2.5
    }
}
.form-control {
    width: 100%;
    border: 1px solid #ddd;
    resize: vertical;
    outline-width: 0;
    line-height: 1.5;
    margin: 5px 0;

    
}

.form-action{
    padding-right: 1em;
}

button:disabled,input:disabled,submit:disabled{
    cursor: no-drop;
}

input.form-control,textarea.form-control{
    padding: 5px;
}