.form-group {
    margin-bottom: 10px;
}
.form-control {
    width: 100%;
    border: 1px solid #ddd;
    resize: vertical;
    outline-width: 0;
    line-height: 1.5;
    margin: 5px 0;
}

.form-action{
    padding-right: 1em;
}