* {
    box-sizing: border-box;
}

body {
    background-color: #E6E7EC;
}

@media screen and (min-width: $layout-main-width) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: $layout-main-width) {
    body {
        font-size: 0.24rem;
    }
}

a {
    text-decoration: none !important;
    color: #000;
    cursor: pointer;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
