* {
    box-sizing: border-box;
}

html,body{
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg;
    font-size: $base-font-size;
}


@media screen and (max-width: $layout-main-width) {
    body {
        font-size: 0.24rem;
    }
}

a {
    text-decoration: none ;
    cursor: pointer;

    &:hover{
        text-decoration: none ;
    }

}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input{
    outline-width: 0;
}
