$layout-header-height: 60px;
$layout-main-width: 1200px;
$active-color: #108ee9;
$link-color: $active-color;

$danger: #f00;

$modal-z-index: 100;
$modal-padding: 10px 15px;


$success: #00a854;
$info: #3aa5f2;
$warn: #ffda00;
$error: #ff5900;