@import 'var';

$margin-top: $layout-header-height + 20px;

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color .15s linear;
    background-color: transparent;
    z-index: 1;
}

.backdrop.show {
    background-color: rgba(125, 125, 125, 0.5);
}

.window {
    position: relative;
    outline-width: 0;
    margin: $margin-top auto;
    background-color: #fff;
    opacity: 0;
    transform: translateY(-30px);
    transition: all 0.2s;
    border-radius: $border-radius;

    i.fa-times {
        position: absolute;
        top: 15px;
        right: 20px;
        color: #aaa;
        cursor: pointer;

        &:hover {
            color: #000;
        }
    }

    /deep/ .modal-header {
        padding: 15px;
        font-size: 1.2em;
        font-weight: 900;
    }

    /deep/ .modal-footer {
        padding: 15px;
        border-top: solid 1px #ccc;
    }

    /deep/ .modal-body {
        padding: 15px;
        border-top: solid 1px #ccc;
        max-height: 600px;
        overflow: auto;
    }
}

.window.show{
    opacity: 1;
    transform: translateY(0);
}
.window-normal {
    width: 450px;
}
.window-large {
    width: 700px;
}
.window-small {
    width: 300px;
}