@import 'mixin';

.form-group {
    $label-width: 15%;

    vertical-align: middle;

    .label {
        display: inline-block;
        width: $label-width;
    }

    .form-control {
        display: inline-block;
        width: calc((100% - #{$label-width}) - 1em);
    }

    label{
        display: inline-block;
        vertical-align: middle;
        line-height: 2.5;
    }

    .upload-cover{
        
        .cover-preview{
            display: inline-block;
            vertical-align: middle;
            margin: 15px 15px 15px 0;
            max-width: 100%;
            max-height: 100px;
        }

        .btn{
            vertical-align: middle;
        }
    }
}