@import 'var';
@import 'mixin';

:host {
    font-size: 0.9em;
}

li {
    @include line-one;
    cursor: pointer;
    line-height: 1.5;
    padding: 0.5em 0.6em;
    &:hover,
    &.active {
        border-left-color: $active-color;
        color: $active-color;
    }
}