$guide-affix-width: 200px;
$guide-affix-height: 50px;
:host {
    margin-top: -10px;
}

.content,
.header {
    padding-right: 220px;

}

.content /deep/ img {
    max-width: 90%;
    max-height: 400px;
}

.header .info {
    text-align: right;
    color: #999;
    padding-right: 50px;
    padding-bottom: 2em;
}

.guide-wrapper {
    position: absolute;
    top: $guide-affix-height;
    right: 15px;
    width: $guide-affix-width;
}

.guide.affix {
    position: fixed;
    top: $guide-affix-height;
    bottom: 100px;
    overflow: auto;
    width: $guide-affix-width;
}