@import 'var';

$guide-affix-width: 200px;
$guide-affix-height: 50px;

:host {
    margin: $box-margin $box-margin*2;
    display: block;
    position: relative;
}

.content,
.header {
    padding-right: $guide-affix-width + $box-margin*2;

}

.content /deep/ img {
    max-width: 90%;
    max-height: 400px;
}

.header .info {
    text-align: right;
    color: #999;
}

.guide-wrapper {
    position: absolute;
    top: $guide-affix-height;
    right: 0;
    width: $guide-affix-width;
    text-align: right;
}

.guide{
    text-align: left;
}

.guide.affix {
    position: fixed;
    top: $layout-header-height + $guide-affix-height;
}