@import 'var';

$margin-top: 20px;

:host{
    position: fixed;
    height: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.notification{
    display: inline-block;
    max-width: 700px;
    margin-top: $margin-top;
}

.notification-item {
    $padding: 10px;

    padding: $padding;
    margin-bottom: 15px;
    box-shadow: 0px 2px 10px 0px #aaa;
    border-radius: $border-radius;
    background-color: #fff;
    transform: translateY(-2em);
    opacity: 0;
    transition: all 0.3s;
    overflow-y: hidden;

    &.show{
        transform: translateY(0);
        opacity: 1;
    }

    &.remove{
        margin-bottom: calc(-1em - #{$padding}*2);
        opacity: 0;
    }

    .type{

        &.success i{
            color: $success;
        }

        &.info i{
            color: $info;
        }

        &.warn i {
            color: $warn;
        }

        &.error i{
            color: $error;
        }
    }

    .content{
        margin: 0 5px;
    }

    .close {
        color: #bbb;
        cursor: pointer;

        &:hover {
            color: #555;
        }
    }
}