@import 'var';

.logo {
    display: inline-block;
    height: $layout-header-height;
    line-height: $layout-header-height;

    img{
        height: calc(100% - #{$box-margin*2});
        vertical-align: middle;
        margin-right: $box-margin;
    }
}
