@import 'var';

.logo {
        height: 2em;
        vertical-align: -0.5em;
        padding-right: 1em;
}

nav {
    float: right;
    a {
        display: inline-block;
        padding: 0 1em;
    }
    a.active,
    a:hover {
        color: $active-color;
    }
}