@import 'var';

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $banner-color;
    height: $layout-header-height;
    color: #fff;
    z-index: 1;
}

main{
    margin-top: $layout-header-height;
    overflow: hidden;//作为BFC
    min-height: calc(100vh - #{$layout-footer-height + $layout-header-height});
}

footer {
    height: $layout-footer-height;
    line-height: $layout-footer-height;
    text-align: center;
    color: #aaa;
}
