<div class="wrapper">

  <div class="edit-content">
    <app-ueditor [(content)]="content"></app-ueditor>
  </div>

  <form class="form-wrapper">
    <div class="label">
      标题
    </div>
    <input type="text" class="form-control">

    <div class="label">
      作者
    </div>
    <input type="text" class="form-control">

    <div class="label">
      更新备注
    </div>
    <textarea rows="5" class="form-control"></textarea>

    <div class="form-action right-layout">
      <button type="submit" class="btn">更新</button>
      <button type="button" class="btn btn-primary">发布</button>
    </div>
  </form>
</div>