@import 'var';
@import 'mixin';

$text-padding-left: 1.2em;
$node-name-height: $base-font-size*3;

.node {
    overflow: hidden;

    .node-text-input {
        border-bottom: solid #e7e7e7 1px;

        .node-name{
            width: calc(100% - 3em);
            line-height: 2;
            padding: 0 5px;
        }

        .node-icon{
            padding-left: 5px;
            width: 3em;
        }

        .node-name,.node-icon{
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.node-text {
    color: #655454;
    line-height: $node-name-height;
    height: $node-name-height;
    border-right: solid transparent 2px;
    text-align: justify;
    font-size: 0;
    border-bottom: solid #e7e7e7 1px;

    &.active {
        .node-name{
            color: $active-color;
        }
        border-right: solid $active-color 2px;
    }

    &:hover{
        border-right: solid $active-color 2px;
        i.del,i.add,i.edit{
            visibility: visible;
        }
    }

    i.del,i.add,i.edit{
        visibility: hidden;
    }

    .node-name,.node-icon{
        display: inline-block;
        padding-right: 5px;
        vertical-align: top;
        font-size: $base-font-size;
    }

    .node-name{
        @include line-one;
        width: calc(100% - 2em);
        cursor: pointer;

        &:hover{
            color: $active-color;
        }
    }

    .node-icon{
        width: 2em;
        text-align: right;
        height: $node-name-height;
        overflow: hidden;

        &:after{
            display: inline-block;
            width: 100%;
            content: '';
        }

        i{
            cursor: pointer;
        }

        i:hover{
            color: $active-color;
        }
    }

    &.show-btn{
        .node-name{
            width: calc(100% - 5em);
        }
    
        .node-icon{
            width: 5em;
        }
    }

}

.node-list {
    padding-left: $text-padding-left * 2;

    &.root{
        padding-left: 0;
    }
}

