<aside>
  <div class="aside-title" (click)="showManList = !showManList">
    {{selectMan.name | slice:0:10}} &nbsp;
    <i class="fa fa-caret-down"></i>
  </div>
  <div class="drop-down" [hidden]="!showManList" [class.active]="showManList">
    <div class="item" *ngFor="let item of siteData?.manList" [hidden]="item.id === selectMan.id" (click)="switchMan(item)">{{item.name}}</div>
  </div>
  <app-tree [hidden]="showManList" [treeData]="articleList" (select)="goto($event)" [selectNodeId]="selectArticleId"></app-tree>
</aside>

<div class="main-content">
  <router-outlet></router-outlet>
</div>